{# templates/bid_calculation/_table.html.twig #}

<h5>Total detail</h5>
<div class="list-group list-group-flush">
    <div class="list-group-item">
        <h6 class="mb-1">Vehicle Price</h6>
        <p class="mb-1" id="vehicle-price"></p>
        <small class="text-muted">Base price of the vehicle</small>
    </div>
    <div class="list-group-item">
        <h6 class="mb-1">Vehicle Type</h6>
        <p class="mb-1" id="vehicle-type"></p>
        <small class="text-muted">Type of the vehicle (Common or Luxury)</small>
    </div>
    <div class="list-group-item">
        <h6 class="mb-1">Basic Fee</h6>
        <p class="mb-1" id="basic-fee"></p>
        <small class="text-muted">Basic user fee</small>
    </div>
    <div class="list-group-item">
        <h6 class="mb-1">Special Fee</h6>
        <p class="mb-1" id="special-fee"></p>
        <small class="text-muted">Seller's special fee</small>
    </div>
    <div class="list-group-item">
        <h6 class="mb-1">Association Fee</h6>
        <p class="mb-1" id="association-fee"></p>
        <small class="text-muted">Added costs for the association based on the price of the vehicle</small>
    </div>
    <div class="list-group-item">
        <h6 class="mb-1">Storage Fee</h6>
        <p class="mb-1" id="storage-fee"></p>
        <small class="text-muted">Fixed storage fee</small>
    </div>
</div>
